@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Aboreto";
  src: url("../public/fonts/Aboreto-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "bebas";
  src: url("../public/fonts/BebasNeue-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "work-sans";
  src: url("../public/fonts/WorkSans-VariableFont_wght.ttf");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  font-family: "work-sans", Arial, Helvetica, sans-serif;
  background-color: transparent;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}
@media (width >= 40rem) {
  .container {
    max-width: 92%;
  }
}
@media (width >= 48rem) {
  .container {
    max-width: 95%;
  }
}

@media (width >= 80rem) {
  .container {
    max-width: 1200px;
  }
}
@media (width >= 1536px) {
  .container {
    max-width: 1400px;
  }
}
.text-shadow {
  text-shadow: black 0px 0px 1px;
}
.bg-btn {
  background: rgba(136, 136, 136, 0.24);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
}
.bg-btn:hover {
  background: rgba(211, 210, 210, 0.55);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  color: gray;
}
.bg-btn2 {
  background: rgba(199, 199, 199, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
}
.gradiant-bg {
  background: #005c2e;
  background: -webkit-linear-gradient(
    297deg,
    rgba(0, 92, 46, 1) 0%,
    rgba(8, 13, 8, 1) 84%
  );
  background: -moz-linear-gradient(
    297deg,
    rgba(0, 92, 46, 1) 0%,
    rgba(8, 13, 8, 1) 84%
  );
  background: linear-gradient(
    297deg,
    rgba(0, 92, 46, 1) 0%,
    rgba(8, 13, 8, 1) 84%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005C2E", endColorstr="#080D08", GradientType=0);
}
.bg-gradiant-discover {
  background: #ffffff;
  background: -webkit-linear-gradient(334deg, rgba(255, 255, 255, 1) 0%, rgba(36, 83, 54, 1) 79%);
  background: -moz-linear-gradient(334deg, rgba(255, 255, 255, 1) 0%, rgba(36, 83, 54, 1) 79%);
  background: linear-gradient(334deg, rgba(255, 255, 255, 1) 0%, rgba(36, 83, 54, 1) 79%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#245336", GradientType=0);
}
.title {
  display: block;
  font-family: "Aboreto", Arial, Helvetica, sans-serif;
}
.lightColor {
  color: #fff8ee;
}
.icon-title-size {
  stroke-width: 1.75px;
  color: #658672;
  width: 40px;
  height: 40px;
}
.icon-btn-size {
  stroke-width: 1.5px;
  width: 25px;
  height: 25px;
}
.icon-btn-size2 {
  stroke-width: 1.5px;
  width: 22px;
  height: 22px;
}
.icon-check-size{
  stroke-width: 2.5px;
  width: 32.5px;
  height: 32.5px;
}

.service-container:hover .btn-service {
  padding-right: 10px;
}
.p-btn:hover .dot {
  transform: scale(80);
}
.p-btn:hover .dot2 {
  transform: scale(120);
}
.title-discover {
  font-family: "bebas";
}
.anime-btn {
  animation: animation-btn 1500ms infinite ease-in-out;
}
@keyframes animation-btn {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #1a221d; /* رنگ پس‌زمینه زمانی که چک نشده */
  border: solid 1px #fff8ee;
  border-radius: 4px;
  transition: all 0.3s;
}

.custom-checkbox:hover .checkmark {
  background-color: #ddd; /* رنگ هنگام هاور */
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #204921; /* رنگ پس‌زمینه زمانی که چک شده */
  border-color: #183119;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.bg-up-about {
  background: #060e09;
  background: linear-gradient(
    180deg,
    rgba(6, 14, 9, 1) 0%,
    rgb(255, 255, 255) 95%
  );
  width: 100%;
  height: 25rem;
}

.bg-down-about {
  background: #fff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 5%,
    rgba(6, 14, 9, 1) 100%
  );
  width: 100%;
  height: 25rem;
}
.icon-btn-size2 {
  stroke-width: 1.5px;
  width: 22px;
  height: 22px;
}

.service-icons {
  stroke-width: 2px;
  width: 60px;
  height: 60px;
}
.active {
  border-bottom: 2px white solid;
  border-radius: 2px;
}

.title-service-cards {
  opacity: 0.7;
}
.container-service-cards:hover .title-service-cards {
  color: black;
}
.bg-premium {
  background: #24965248;
}
.btn-premium {
  overflow: hidden;
  position: relative;
  z-index: 10;
}
.dot-premium1 {
  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  border-radius: 50%;
  background: #204921;
}
.dot-premium2 {
  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  border-radius: 50%;
  background: #fff8ee;
}

.btn-premium:hover .dot-premium1 {
  transform: scale(650);
}
.btn-premium:hover .dot-premium2 {
  transform: scale(650);
}
.btn-premium:hover {
  color: black;
}
.bg-whyus {
  background-image: url("../public/images/whyus.jpg");
  width: 100%;
  background-size: cover;
}
